@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --accent: #9e0000;  
    --reg_text: whitesmoke;
    --background: rgb(24, 24, 24);
    --heading-font: 'Rubik';
    --text-font: 'Inter', sans-serif;
    --footer-contact: #777;
}

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
  overflow-x: hidden;
  scroll-behavior: smooth;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--reg_text);
}

h1,h2,h3,h4{
    font-family: var(--heading-font);
}

a {
  color: inherit;
  text-decoration: none;
}

svg{
    fill: var(--accent);
}

/* NAVBAR*/
nav {
    height: 50px;
    width: 100vw;
    position: absolute;
    background-color: rgb(0,0,0,0);
    color: var(--reg_text);
}

.navIcon {
    margin: auto 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    left: 40px;
    top: 15px;
}

.linksContainer {
    display: flex;
    width: min-content;
    gap: 20px;
    margin: auto 0;
    position: absolute;
    right: 40px;
    top: 15px;    
}

nav>div>a:hover{
   opacity: 0.5; 
}

.mobileNav {
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
    height: 30px;
    width: 30px;
    transition: 0.2s ease-in;
}

.mobileNav>svg{
    fill: var(--accent);
}

.mobileNav:hover{
    transform: scale(1.1);
    opacity: 0.7;
    cursor: pointer;
}


/* LANDING SECTION*/
.landing {
    height: 80vh;
    background-image: url("images/shaq.jpeg");
    background-attachment: fixed;
    background-size: cover;
}

.landing>div{
    height: 100%;
    width: 100%;
    background-color: rgb(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/* PROJECTS */
.projects{
    padding: 10vh 0;
    width: 80vw;
    margin: 0 auto;
}

.projects>div{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.projects>div>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    border-radius: 10px;
    gap: 5%;
    transition: 0.2s ease-in;
    margin: 10px 0;
}

.projects>div>div>img {
    width: 40%;
    height: 95%;
    border-radius: 10px;
    object-fit: cover;
}

.projects>div>div>div {
    width: 50%;
}

.projects>div>div>div>button {
    color: var(--reg_text);
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 10px;
    height: 40px;
    width: 30%;
    transition: 0.2s ease-in;
}

.projects>div>div>div>button:hover {
    color: var(--accent);
    background-color: transparent;
    transform: scale(1.1);
    cursor: pointer;
}

.projects>div>div>div>a {
    color: var(--accent);
    display: flex;
    align-items: center;
    gap: 5px;
}

.projects>div>div>div>a:hover {
    opacity: 0.7;
}

.projects>div>div>div>a>svg {
    margin: auto 0;
    height: 20px;
    width: 20px;
}

/* FOOTER*/
footer {
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: var(--reg_text);
}

footer>div{
    width: 100vw;
    height: 90%;
    display: flex;
    flex-direction: row;
    gap: 15vw;
    align-items: center;
    justify-content: center;
}

footer>div>div{
    display: flex;
    flex-direction: column;
}

footer>div>div>a:hover{
    cursor: pointer;
    color: var(--accent);
}

footer>span {
    bottom: 0px;
    width: 100vw;
    height: 40px;
    text-align: center;
    color: var(--footer-contact);
}

@media only screen and (max-width: 600px) {
    
    .navIcon {
        position: relative;
        top: 10px;
        left: 10px;
    }

    #close {
        display: none;
    }

    .linksContainer {
        height: 100vh;
        width: 90vw;
        background-color: var(--background);
        display: none;
    }

    .linksContainer>a:hover {
        color: var(--accent);
        cursor: pointer;
    }

    .block  {
        z-index: 4;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0,0.7);
        width: 100vw;
        height: 100vh;
        display: none;
    }

    .stop-scroll {
        height: 100%;
        overflow-y: hidden;
    }

    .active {
        display: flex;
        flex-direction: column;
        z-index: 5;
        position: fixed;
        right: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        gap: 10vh;
        overflow: hidden;
    }   

    .mobileNav {
        visibility: visible;
        z-index: 10;
    }

    .projects {
        width: 100vw;
    }

    .projects>h1 {
        margin-left: 5vw;
    }

    .projects>div>div{
     height: min-content;
    }

    .projects>div>div>div>button {
        width: 50%;
    }
    .projects>div>div>div>a {
        font-size: small;
        overflow-wrap: anywhere;
    }
    .projects>div>div>div>a>span {
        width: 80%;
    }
    .projects>div>div>div>a>svg {
        width: 20px;
        height: 20px;
    }

    footer>div {
        flex-direction: column;
        text-align: center;
    }
}