/* https://codepen.io/jchaffin/pen/KvvqKE */

@keyframes animationgradienttitle {
  0% {
      background-position: 0 1600px;
  }
  100% {
      background-position: 1600px 0;
  }
}

.gradientText:hover {
  color: #783ce7;
  background: -webkit-linear-gradient(left, #d74ee6,#10DDC2 , #d74ee6);
  background-size: 1600px 200px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 3s;
  animation-name: animationgradienttitle;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/*https://codepen.io/kocsten/pen/rggjXp*/
.glowOnHover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    border: 1px solid var(--reg_text);
    background-color: transparent;
    color: var(--reg_text);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font: inherit;
}

.glowOnHover:before {
    content: '';
    background: linear-gradient(45deg, #00ffd5, #002bff, #7a00ff, #ff00c8);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glowOnHover:active {
    color: #000
}

.glowOnHover:active:after {
    background: transparent;
}

.glowOnHover:hover:before {
    opacity: 1;
}

.glowOnHover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}