/* FOOTER */
.footer {
    width: 100vw;
    height: 30vh;
    height: fit-content;
    background-color: #181818;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: medium;
}

.footer > div > h2 {
    color: var(--accent);
}

.footer > div > div {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    margin: 5vh 0;
}

.footer > div > div > a {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.footer > div > div > a > img {
    color: var(--reg_text);
    border-radius: 5px;
}

.footer > div > div > a:hover {
    transform: scale(1.05);

}