@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}  

:root {
/*  --accent: #9e0000;  */
  --accent: #b368ce;
  --reg_text: whitesmoke;
  --background: rgb(24, 24, 24);
  --primary-font: 'Raleway';
  --heading-font: 'Raleway';
  --footer-contact: #777;
}

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--background);
  color: var(--reg_text);
  font-family: var(--primary-font);

  scrollbar-width: thin;
  scrollbar-color: #333 var(--background);
  scrollbar-gutter: stable;
}

body, main {
  width: 100vw;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: large;
}

img {
  object-fit: cover;
}


@media only screen and (max-width: 600px) {
  html {
    overflow-x: hidden;
  }
}