/*
 * Colours:
 *  #228B22 green
 * 
*/

.main {
  flex: 1;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingTitle {
  font-size: 4rem;
  color: white;
  text-align: center;
}

.opensLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  gap: 5px;
}

/* LANDING SECTION */
.landing {
  background-image: url("../images/shaq.jpeg");
  font-family: Comfortaa;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #DADADD;
  color: white;
  text-align: center;
}

.landing>div {
  padding-top: 99px;
  background-color: rgb(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.landing>div>img {
  width: 15vw;
  height: fit-content;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.landing>div>div {
  display: grid;
  grid-column: 1;
  grid-gap: 5vh;
  width: 50vw;
  height: fit-content;
  justify-content: center;
  color: white;
}

.landing>div>div>a {
  margin: 0 auto;
}

.agrobot {
  text-align: center;
  color: white;
  font-size: 1rem;
  background: linear-gradient(
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.7)
    ), url('../images/shaq.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    height: 50vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #DADADD;
    margin: 10vh;
    justify-content: center;
}

/* buttons in sectons */
.sectionButton {
  padding: 12px 24px;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  background-color: #228B22;
  border-color: transparent;
  border-radius: 10px;
  transition: ease-in 0.25s;
  text-align: center;
  border: 2px solid #228B22;
  font-family: Raleway;
}

.sectionButton>a {
  gap: 5px;
}

.sectionButton:hover {
  color: #228B22;
  background-color: transparent;
  border-color: #228B22;
}

.main>div {
  width: 100%;
}

/* ABOUT and PLAN SECTIONS */

.info {
  font-family: Raleway;
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  margin: 10vh 0;
}

.infoText {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.infoText>h1 {
  color: #228B22;
  font-size: 1.5rem;
  font-weight: bold;
  height: min-content;
}

.infoText>button {
  width: 20vw;
}

.infoText>p {
  line-height: 1.75;
}

.infoIMG {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  text-align: justify;
}

.infoIMG>img {
  height: 50vh;
  width: 40vw;
  object-fit: cover;
  vertical-align: center;
  justify-content: center;
}

.infoIMG>span {
  font-style: italic;
  color: #777;
  text-align: center;
  display: none;
  margin: 0 auto;
}

/* Sponsor Section*/
.sponsorUs {
  text-align: center;
  justify-content: center;
  margin: 50px 0;
  font-family: Raleway;
}

.sponsorUs>h1 {
  color: #228B22;
}

.sponsorUs>div>p {
  width: 60%;
  margin: 40px auto;
}

.joinMain {
  display: none;
  visibility: hidden;
}

/* MOBILE */
@media only screen and (max-width: 600px) {

  /* LANDING*/
  .landingTitle {
    font-size: 3rem;

  }

  .landing>div>div>h1 {
    text-align: center;
    width: 80vw;
  }

  /* INFO SECTIONS */
  .info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .currentProjects {
    flex-direction: column-reverse;
    margin-top: 0;
  }

  .infoText,
  .infoIMG {
    width: 80%;
    margin: none;
  }

  .infoIMG>img {
    width: 100%;
  }

  .infoIMG>span{
    display: inherit;
  }

  .infoText>button {
    width: 50vw;
    margin: 0 auto;
  }

  .infoText>h1 {
    width: 100%;
    text-align: center;
  }

  .infoText>p {
    font-size: medium;
  }

  .sponsorUs>div>p {
    width: 80%;
  }
}