.main {
  flex: 1;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingTitle {
  font-size: 4rem;
  color: white;
  text-align: center;
}

.opensLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
  gap: 5px;
}

/* LANDING SECTION */
.landing {
  font-family: Comfortaa;
  background-position: center;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  /*ANIMATIONS FOR BG*/
  background: linear-gradient(-45deg, #d74ee6, #783ce7, #1d92bd, #e915b0);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.landing>div {
  background-color: rgb(0,0,0,0.1);
  padding-top: 99px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  vertical-align: center;
}

.landing>div>div {
  display: grid;
  grid-column: 1;
  grid-gap: 5vh;
  width: 50vw;
  height: fit-content;
  justify-content: center;
  color: white;
}

.landing>div>div>a {
  margin: 0 auto;
}

/**ANIMATED BG FROM https://codepen.io/jchaffin/pen/KvvqKE**/
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* landing button*/

/* buttons in sectons */
.landingButton {
  padding: 12px 24px;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  background-color: transparent;
  border-color: transparent;
  border-radius: 10px;
  transition: ease-in 0.25s;
  text-align: center;
  border: 2px solid var(--reg_text);
  font-family: Raleway;
}

.landingButton>a {
  gap: 5px;
}

.landingButton:hover {
  color: var(--reg_text);
  background-color: var(--background);
  border-color: var(--reg_text);
  transform: scale(1.05);
}

/* buttons in sectons */
.sectionButton {
  padding: 12px 24px;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  background-color: var(--accent);
  border-color: transparent;
  border-radius: 10px;
  transition: ease-in 0.25s;
  text-align: center;
  border: 2px solid var(--accent);
  font-family: Raleway;
}

.sectionButton>a {
  gap: 5px;
}

.sectionButton:hover {
  color: var(--accent);
  background-color: transparent;
  border-color: var(--accent);
}

.main>div {
  width: 100%;
}

/* ABOUT SECTION */

.info {
  font-family: Raleway;
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  margin: 10vh 0;
}

.infoText {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
}

.infoText>h1 {
  color: var(--accent);
  font-size: 1.5rem;
  font-weight: bold;
  height: min-content;
}

.infoText>button {
  width: 20vw;
}

.infoText>p {
  line-height: 1.75;
}

.infoIMG {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  text-align: justify;
}


.infoIMG>img {
  height: 50vh;
  width: 40vw;
  object-fit: cover;
  vertical-align: center;
  justify-content: center;
}

.infoIMG>span {
  font-style: italic;
  color: #777;
  text-align: center;
  display: none;
  margin: 0 auto;
}

/* Experience section*/

.experience {
  width: 80vw;
  align-items: center;
}

.experience > h1 {
  color: var(--accent);
}

.experience > div {
  line-height: normal;
  width: 60vw;
  margin: 0 auto;
}

.experiencecard {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.experiencecard > div {
  display: flex;
  flex-direction: column;
}

.experiencecard > div > h2 {
  margin-top: 0;
}

.experiencecard > a {
  text-decoration: none;
  transition: 0.5s ease-in;
}

.experiencecard > a > img:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 2px 2px 2px #783ce7, -2px -2px 2px #d74ee6;
}

.experiencecard > a > img {
  border-radius: 20px;
}

.company {
  font-style: italic;
}

.dates {
  float: right;
}

/*Project section*/

.currentProjects > h1 {
  color: var(--accent);
  font-size: xx-large;
  width: 80vw;
  margin-bottom: 5vh;
}

.currentProjects>div {
  
}

.subteams {
  width: 100%;
  margin-bottom: 100px;
  background-color: whitesmoke;
}

.subteams > div {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
}

.subteams>div>h2{
  color: var(--accent);
  text-align: center;
}

/* SUBTEAM CARDS */
.subteamArticles {
  display: flex;
  flex-direction: row;
  gap: 15vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.suggestedArticle {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition: 0.2s ease-in;
  width: 10vw;
  height: 10vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.suggestedArticle a :hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.1s ease-in;
}

.suggestedArticle > a > img {
  width: 10vw;
  height: 10vw;
  border-radius: 20px;
  text-align: center;
}

/* MOBILE */
@media only screen and (max-width: 600px) {

  /* LANDING*/

  .landing {
    height: 70vh;
  }

  .landingTitle {
    font-size: 3rem;

  }

  .landing>div>div>h1 {
    text-align: center;
    width: 80vw;
  }

  /* INFO SECTIONS */
  .info {
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  /* PROJECTS SECTION*/
  .currentProjects {
    flex-direction: column-reverse;
    margin-top: 0;
    width: 90%;
  }

  .currentProjects > h1 {
    text-align: center;
    width: 100%;
  }

  .infoText,
  .infoIMG {
    width: 80%;
    margin: none;
  }

  .infoIMG>img {
    width: 100%;
  }

  .infoIMG>span{
    display: inherit;
  }

  .infoText>button {
    width: 50vw;
    margin: 0 auto;
  }

  .infoText>h1 {
    width: 100%;
    text-align: center;
  }

  .infoText>p {
    font-size: medium;
  }

  .projectLanding>div>h1 {
    font-size: 40pt
  }

  .projectLanding>div>h2 {
      font-size: 15pt;
  }

  .experience > div {
    width: 100vw;
  }

  .experiencecard  {
    width: 80vw;
  }

  .experiencecard > div > div {
    display: flex;
    flex-direction: column;
  }

  .experiencecard > div > ul {
    font-size: small;
  }

  /* SUBTEAM CARDS */
  .subteamArticles {
      display: flex;
      flex-direction: row;
      gap: 15vw;
      height: 25vh;
      align-items: center;
      justify-content: center;
      padding: 0;
      margin: 0;
  }

  .suggestedArticle {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      transition: 0.2s ease-in;
      width: 20vh;
      height: 20vh;
      text-align: center;
      text-wrap: auto;
  }

  .suggestedArticle :hover {
      cursor: pointer;
      transform: scale(1.05);
  }

  .suggestedArticle > a > img {
      width: 15vh;
      height: 15vh;
      border-radius: 20px;
  }
}