/*
 * Colours:
  - 231C07    Smoky Black
  - 392A16    Bistre
  - 123524    Plathlo green
  - EAEAEA    Platinum
  - 38744D    Dark spring green

  - #228B22 green
 * 
*/

.nav {
    width: 100vw;
    padding: 30px 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background-color: whitesmoke; /* make transparent if background not white*/
    transition: ease-in 0.2s;
}

.navlogo {
    background-image: url("../images/shaq.jpeg");
    width: 50px;
    height: auto;
}

.active {
    width: 100vw;
    padding: 30px 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    position: fixed;
    z-index: 10;
    transition: ease-in 0.2s;
}

.h2 {
    width: min-content;
}

.navIcon {
    position: absolute;
    left: 15px;
    cursor: pointer;
    color: #38744D;
}

.linksContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.linksContainer > span {
    cursor:pointer;
}
.linksContainer>span:hover {
    opacity: .6;
    transition: 1 ease-in;
}
