.nav, .active {
    width: 100vw;
    padding: 40px 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    z-index: 2;
}

.nav {
    color: white;
    transition: ease-in 0.2s;
}

.active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(24,24,24);
    position: fixed;
    transition: ease-in 0.1s;
}

.active > a {
    fill: var(--accent);
}

.navIcon {
    height: 30px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15px; 
    cursor: pointer;
    color: white;
    gap: 5px;
}

.navIcon>img{
    height: 150%;
    width: auto;
}

.linksContainer {
    position: absolute;
    right: 40px;
    margin: auto 0;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.linksContainer > span {
    cursor:pointer;
    margin: 0;
    padding: 0;
}
.linksContainer>span:hover {
    opacity: .6;
}

.volunteerButton {
    border: 2px solid #228B22;
    width: max-content;
    border-radius: 5px;
    background-color: #228B22;
    color: white;
    padding: 6px 12px;
    font-size: 1em;
    transition: ease-in 0.25s;
    font-weight: normal;
}

.volunteerButton:hover {
    color: #228B22;
    background-color: transparent;
    transform: scale(1.05);
    font-weight: 550;
}

.navButton {
    height: 50px;
    width: 50px;
    right: 0;
    position: absolute;
    cursor: pointer;
    margin-right: 5%;
    padding: 0;
    justify-content: center;
    align-items: center;
    z-index: 2;
    visibility: hidden;
}

.dropdown {
    display: none;
}

/* FOR SMALL SCREEN */
@media only screen and (max-width: 800px)  {  
    .active {
        position: fixed;
    }
    .nav, .active {
        width: 100vw;
        height: 10vh; 
        padding: 0;
    }

    .navIcon {
        left: 10px;
    }

    .navIcon > img {
        height: 80%;
        width: auto;
    }

    .navIcon>h2 {
        font-size:2rem;
    }

    .navButton {
        visibility: visible;
    }

    .navIcon>h2 {
        font-size: small;
    }

    .linksContainer {
        display: none;
    }

    .mobileMenu {
        position: fixed;
        visibility: visible;
        z-index: 0;
        right: 0px;
        top: 0px;
        height: 100vh;
        width: 90vw;
        background-color: whitesmoke;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 5%;
        transition: 0.2s ease-in;
    }

    .mobileMenu>span, .mobileMenu>button {
        width: 40%;
        margin: 0 auto;
        cursor: pointer;
    }

    .mobileMenu>span:hover {
        color: #228B22;
    }

    .coverBackground {
        position: fixed;
        z-index: 1;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0,0,0,0.8);
        overflow: hidden;
    }
}