/*
    #514B23 drab dark brown
    #656839 dark moss green 
    #CBC9AD sage

    #228B22 nice green
*/

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }
  
  .main > div {
    width: 100%;
  }
  