.nav {
    width: 100vw;
    padding: 30px 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background-color: whitesmoke; /* make transparent if background not white*/
    transition: ease-in 0.2s;
}

.active {
    width: 100vw;
    padding: 30px 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: whitesmoke;
    position: fixed;
    z-index: 10;
    transition: ease-in 0.2s;
}

.h2 {
    width: min-content;
}

.navIcon {
    position: absolute;
    left: 15px;
    cursor: pointer;
    color: #228B22;
}

.linksContainer {
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.linksContainer > span {
    cursor:pointer;
}
.linksContainer>span:hover {
    opacity: .6;
}

.volunteerButton {
    border: 2px solid #228B22;
    border-radius: 5px;
    background-color: #228B22;
    color: white;
    padding: 6px 12px;
    font-size: 1em;
    transition: ease-in 0.25s;
    font-weight: normal;
}

.volunteerButton:hover {
    color: #228B22;
    background-color: transparent;
    transform: scale(1.05);
    font-weight: 550;
}
